---
layout: primary_and_sidebar
title: Committee Chairs
---
<div class="column mcb-column one-second column_column  column-margin-">
    <div class="column_attr clearfix">
        <dl> 
            {% for seat in site.data.committee_list.committee_seats %}
                <dt>{{ seat.title }}</dt> <dd>{{seat.holder}}<br><a href="mailto:{{ seat.email }}">{{ seat.email }}</a></dd>
            {% endfor %}
        </dl>
    </div>
</div>
<div class="column mcb-column one-second column_column  column-margin-">
    <div class="column_attr clearfix">
        <dl> 
            {% for preserve in site.preserves %}
                <dt>{{ preserve.title }}</dt> <dd>{{preserve.manager}}<br><a href="mailto:{{ preserve.email }}">{{ preserve.email }}</a></dd>
            {% endfor %}
        </dl>
    </div>
</div>
