<div class="section mcb-section   " style="padding-top:0px; padding-bottom:0px; background-color:#F0EBE3"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_image ">
<div class="image_frame image_item scale-with-grid no_border"><div class="image_wrapper">
<a href="/assets/images/common/Merlins_Kiosk_Construction.jpg" rel="prettyphoto"><div class="mask"></div>
<img class="scale-with-grid" src="/assets/images/common/Merlins_Kiosk_Construction.jpg" alt=""></a><div class="image_links "><a href="/assets/images/common/Merlins_Kiosk_Construction.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a></div>
</div></div>
</div>
<div class="column mcb-column two-third column_column  column-margin-10px"><div class="column_attr clearfix"><p class="big">Thousands of people visit NCC caves annually and an additional unknown number visit the preserves to walk the nature trails and otherwise enjoy the karst landscapes. All of our preserves were acquired with the help of conservation minded individuals who volunteered to conduct fundraising events and navigate us through the acquisition process. Once acquired, NCC preserves require the additional support of volunteers to prepare the property for visitation (remove trash, establish trails, erect kiosks, place property markers, etc.), continuing maintenance, and the behind the scenes tasks </p></div></div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<p class="big">required of property owners. Some volunteer tasks, committee positions being a good example, require a long term commitment while other jobs may require a unique skill or expertise. However, there is a great need for help with the more mundane yet vitally essential work that makes the NCC the success it has become. You can provide assistance from the comfort of your home, or grab your work gloves for a preserve maintenance day, or don your cave gear for in cave projects. Committee chairs and preserve managers would welcome offers to help out or will be able to suggest a project that has been waiting for a volunteer to step forward.</p>

<p class="big">Review the list of <a href="/committee-chairs/">committees</a> to help direct your skills or interest to specific tasks; contact a preserve manager if you would like to be notified of upcoming work days. The NCC maintains a record of hours our volunteers contribute so please check out the <a href="/volunteer-value/">Volunteer Value</a> page for additional information. </p>












</div></div>
</div></div></div></div>
