<div class="section mcb-section   " style="padding-top:60px; padding-bottom:40px; background-color:#F0EBE3"><div class="section_wrapper mcb-section-inner">
<div class="wrap mcb-wrap one-fourth  valign-top clearfix" style="padding:0 1%"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix" style="padding:20px 10% 0 0;">
<h4>NCC Mission</h4>
<p class="big">The Northeastern Cave Conservancy, Inc. (NCC) is a not-for-profit tax-exempt 501(c)(3) charitable organization committed to the conservation, study, management, and acquisition of caves and karst areas having significant geological, hydrological, biological, recreational, historical or aesthetic features. </p>
<p class="big"><a href="/about-ncc/">Learn more &nbsp;<i class="icon-right-open"></i></a></p>
</div></div></div></div>
<div class="wrap mcb-wrap one-fourth  column-margin-10px valign-top clearfix" style="padding:0 1%"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_zoom_box ">
<div class="zoom_box"><a href="/join/"><div class="photo"><img class="scale-with-grid" src="/assets/images/home_page/home_box2_whyJoin.jpg" alt=""></div>
<div class="desc"><div class="desc_wrap">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/zoom_pin.png" alt=""></div>
<div class="desc_txt">Join The NCC</div>
</div></div></a></div>
</div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h6 style="margin-bottom: 6px;">Join The NCC</h6>
<p>Join us in our efforts to preserve caves and karst in the Northeast.<br>
<span style="font-size: 12px;"><i>Photo Credit: Rich Lester</i></span></p>
</div></div>
</div></div>
<div class="wrap mcb-wrap one-fourth  column-margin-10px valign-top clearfix" style="padding:0 1%"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_zoom_box ">
<div class="zoom_box"><a href="/preserves/"><div class="photo"><img class="scale-with-grid" src="/assets/images/home_page/home_box2_preserves.jpg" alt=""></div>
<div class="desc"><div class="desc_wrap">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/zoom_pin.png" alt=""></div>
<div class="desc_txt">NCC Preserves</div>
</div></div></a></div>
</div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h6 style="margin-bottom: 6px;">NCC Preserves</h6>
<p>The NCC offers a wide variety of above ground and underground experiences.<br>
<span style="font-size: 12px;"><i>Photo Credit: John Dunham</i></span></p>
</div></div>
</div></div>
<div class="wrap mcb-wrap one-fourth  column-margin-10px valign-top clearfix" style="padding:0 1%"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_zoom_box ">
<div class="zoom_box"><a href="/volunteer/"><div class="photo"><img class="scale-with-grid" src="/assets/images/home_page/home_box2_volunteer.jpg" alt=""></div>
<div class="desc"><div class="desc_wrap">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/zoom_pin.png" alt=""></div>
<div class="desc_txt">Volunteer</div>
</div></div></a></div>
</div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h6 style="margin-bottom: 6px;">Volunteer</h6>
<p>You can provide assistance even from the comfort of your own home.<br>
<span style="font-size: 12px;"><i>Photo Credit: Christa Hay</i></span></p>
</div></div>
</div></div>
</div></div>
