<div class="wrap mcb-wrap one-second border: 4px solid #9F835B; valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_column  column-margin-0px"><div class="column_attr clearfix">
<img class="scale-with-grid" src="/assets/images/home_page/mission_picture.jpg" alt="">
<hr class="no_line" style="margin: 0 auto 14px;">

<h4>The NCC currently owns several cave and karst areas, including:</h4>
</div></div>

{% assign len_preserves = site.preserves | size %}
{% assign midpoint = len_preserves | divided_by: 2 %}
{% assign odd = len_preserves | modulo: 2 %}
{% if odd == 1 %}
    {% assign midpoint = midpoint | plus: 1 %}
{% endif %}
{% assign preserves_first_half = site.preserves | slice: 0, midpoint %}
{% assign preserves_second_half = site.preserves | slice: midpoint, len_preserves %}

<div class="column mcb-column one-second column_column  column-margin-0px"><div class="column_attr clearfix"><ul>
            {% for preserve in preserves_first_half %}
                <li>
                    <a href={{ preserve.permalink }}>{{ preserve.title }}</a>
                </li>
            {% endfor %}
</ul></div></div>

<div class="column mcb-column one-second column_column  column-margin-0px"><div class="column_attr clearfix"><ul>
            {% for preserve in preserves_second_half %}
                <li>
                    <a href={{ preserve.permalink }}>{{ preserve.title }}</a>
                </li>
            {% endfor %}
</ul></div></div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<p class="big">NCC members assist in the exploration, survey, and protection of these natural resources, and manage them so you can explore them yourself.</p>

<p>However, cave exploration and hiking on karst terrain may involve risk or injury, even death from various hazards, both obvious and obscure, including, but not limited to, slippery and uneven ground, open pits, injury by acts of other people, falling, being struck by falling objects, becoming lost, the presence or sudden appearance of water, and hypothermia. All cave visitors will abide by the normally accepted rules of <a href="/assets/documents/nss_a_guide_to_responsible_caving.pdf" target="_blank"><b>safe and conservation minded caving</b></a> as outlined by the <a href="https://caves.org/" target="_blank">National Speleological Society, 6001 Pulaski Pike, Huntsville, Alabama 35810-1122</a></p>
</div></div>
</div></div>
