<div class="section mcb-section full-width  " style="padding-top:0px; padding-bottom:10px; background-color:#F0EBE3">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix" style="padding:2%">
            <div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-10px">
                    <div class="column_attr clearfix">
                        <p class="big">The Northeastern Cave Conservancy encourages individuals and organizations to undertake research at its properties as long as it meets one or more of the following general objectives:</p>
                        <ul>
                            <li>Increases the understanding of processes and features or those in other karst regions.</li>
                            <li>Leads to better management of our properties or those in other karst regions.</li>
                            <li>Improves the overall “experience” of those visiting our properties or other karst regions.</li>
                            <li>Increases the safety of those visiting NCC properties or other karst regions.</li>
                        </ul>
                        <p class="big">In addition, all research carried out on NCC properties must meet the following criteria:</p>

                        <ul>
                            <li>The goals and objectives of the research must be clearly defined.</li>
                            <li>The research must not duplicate research already carried out. Note that this does not preclude appropriate follow-up studies designed to detect changes or to supplement previous work.</li>
                            <li>There must be a clear beginning and end to each project.</li>
                            <li>The work must not cause permanent damage to any caves, natural features, biota, or historical resources nor interfere with natural hydrologic or chemical processes.</li>
                            <li>The research plan must assure the maximum safety of all concerned.</li>
                            <li>Unless specifically authorized by the NCC Board, researchers must operate within the confines of the established management plans for each property.</li>
                            <li>The work must not interfere with the “experience” of other property visitors.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
