<div class="section mcb-section   " style="padding-top:30px; padding-bottom:30px; background-color:#D2C4B0"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  column-margin-10px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_column  column-margin-10px"><div class="column_attr clearfix">
<h2>The Paperwork</h2>
<p></p>
<div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>

<p>At the fall 2005 Board of Trustee meeting, the NCC created an ad hoc committee to start documenting the volunteer work done for the benefit of the organization. Property managers and project coordinators are urged to down load the <a href="/assets/documents/VolWrksheet1_2000.pdf" target="_blank">Volunteer Value Report Sheet #1</a>. This generic worksheet is designed to be filled out in the field and can be used for documenting volunteer labor and contributions for any cave project. Complete one form for each day of a project that involved more than one person. Use one form if one person is doing similar work over a long period of time. Note that travel time and mileage are reported for each driver/vehicle.</p>
</div></div>
<div class="column mcb-column one-second column_column  column-margin-"><div class="column_attr clearfix" style="padding:1%;">
<p><b>Example1</b><br>
A property manager schedules a property cleanup and a dozen people show up …. Use one form for that one day project, an additional form is used if the project continues the next day or the next weekend.</p>
</div></div>
<div class="column mcb-column one-second column_column  column-margin-"><div class="column_attr clearfix" style="padding:1%;"><p><b>Example 2</b><br>
A property manager mows grass or does trail inspection and maintenance 6 times over the summer …. Use one form to record the dates and hours worked.</p></div></div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<p>This form can be used to document Volunteer Value for all cave projects: survey, cartography, inventory, photo documentation, science, administration, restoration, maintenance, clean-up, and in-cave work as well as preparation and report filing. Please return forms to me via email at <a href="mailto:volunteer@necaveconservancy.org">volunteer@necaveconservancy.org</a> or at an NCC meeting. I will review the forms and develop a database for each project.</p>

</div></div>
<div class="column mcb-column one column_column  column-margin-10px"><div class="column_attr clearfix">
<p><b>What Has Monetary Value?</b><br>
The NCC will generally follow the guidelines the NSS negotiated in its agreement with the Forest Service.</p>

<ul>
<li>
<i>Salaries</i> - Volunteer labor will be calculated at $15.00 per hour and may be adjusted occasionally to reflect changes in the average regional and/or national labor rates for similar organizations.</li>

<li>
<i>Volunteer Hours</i> – Time spent traveling to and from the work site for the vehicle driver. Time spent at the work site actively involved in the project.</li>
<li>
<i>Supplies</i> – All monies spent on supplies that is not reimbursed. (Ex.: batteries for lights, gloves, gas and oil for equipment, materials donated to build kiosks, etc.)</li>
<li>
<i>Professional Services</i> – Professional services (Ex: legal, surveying, accounting, appraisal, etc.) will be valued at the professional’s customary rate. If the NCC pays for these services at a reduced rate, the difference between what is actually paid and the prevailing rate is counted as Volunteer Value.</li>
<li>
<i>Mileage</i> - The dollar values for mileage will be the government rate for business, to be adjusted as the government rate changes. Mileage is calculated to and from the work site as well as the miles accumulated performing the work. Mileage is per vehicle, not per person.</li>
<li>
<i>Preparation and Documentation</i> – Time spent by the project manager preparing for the activity and completing the VV form(s).</li>
</ul>
</div></div>
<div class="column mcb-column one column_column  column-margin-20px"><div class="column_attr clearfix">
<p>Thank you in advance for helping to create a data base of the volunteer work done in support of the NCC.</p>

</div></div>
<div class="column mcb-column one column_hover_color ">
<div class="hover_color" style="background:#00644B;">
<div class="hover_color_bg" style="background:#00644B;border-width:2px;"><a href="https://forms.gle/1wGjEYsinthhAWKQ6"><div class="hover_color_wrapper" style="padding:20px 20px;">
<hr class="no_line" style="margin: 0 auto 10px;">

<h3 style="color:#ffffff;">Submit your  Volunteer Hours</h3>
</div></a></div>
</div>
</div>
</div></div></div></div>
