<footer id="Footer" class="clearfix">
  <div class="widgets_wrapper" style="padding:50px 0;">
    <div class="container">
      <div class="column one-fourth">
        <aside id="text-7" class="widget widget_text">
          <h4>Who We Are</h4>
          <div class="textwidget">
            <p>Committed to the conservation, study, management, and acquisition of caves and karst areas having significant geological, hydrological, biological, recreational, historical or aesthetic features.</p>
          </div>
        </aside>
        <aside id="text-5" class="widget widget_text">
          <div class="textwidget">
            <a href="http://www.guidestar.org/organizations/13-4043653/northeastern-cave-conservancy.aspx" target="_blank" rel="noopener">
            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
              <div class="image_wrapper"><img class="scale-with-grid" src="/assets/images/gximage2.png" alt=""></div>
            </div></a>
          </div>
        </aside>
      </div>
      <div class="column one-fourth">
        <aside id="text-4" class="widget widget_text">
          <h4>About Us</h4>
          <div class="textwidget">
            <ul style="line-height: 32px;">
              <li>
                <a href="/about-ncc/">About Us</a>
              </li>
              <li>
                <a href="/history/">Our History</a>
              </li>
              <li>
                <a href="/landowners/">Landowners</a>
              </li>
              <li>
                <a href="/officers/">The NCC Board</a>
              </li>
              <li>
                <a href="/committee-chairs/">Committee Chairs</a>
              </li>
              <li>
                <a href="/newsletters/">Newsletters</a>
              </li>
              <li>
                <a href="/join/">Join NCC</a>
              </li>
              <li>
                <a href="/volunteer/">Volunteer</a>
              </li>
              <li>
                <a href="/donate/">Donate</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="column one-fourth">
        <aside id="text-10" class="widget widget_text">
          <h4>Cave Preserves</h4>
          <div class="textwidget">
            <ul style="line-height: 32px;">
                {% for preserve in site.preserves %}
                <li>
                    <a href="{{ preserve.permalink }}">{{ preserve.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
      <div class="column one-fourth">
        <aside id="text-11" class="widget widget_text">
          <h4>Follow Us</h4>
          <div class="textwidget">
            <p style="font-size: 28px; line-height: 28px;"><a href="https://www.facebook.com/groups/necaveconservancy" style="color: #B67B51;">
            <i class="icon-facebook-circled"></i>
            </a></p>
          </div>
        </aside>
        <aside id="text-21" class="widget widget_text">
          <h4>Contact Us</h4>
          <div class="textwidget">
            <p><b>Northeastern Cave Conservancy, Inc.</b><br>
            P.O. Box 254<br>
            Schoharie, New York 12157<br>
            <a href="/contact/">ncc@necaveconservancy.org</a></p>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div class="footer_copy">
    <div class="container">
      <div class="column one">
        <!-- Copyrights -->
        <div class="copyright">
          © Northeastern Cave Conservancy, Inc. | All rights reserved
        </div>
        <ul class="social"></ul>
      </div>
    </div>
  </div>
</footer><!-- #Wrapper -->
<!-- mfn_hook_bottom --><!-- mfn_hook_bottom --><!-- wp_footer() -->
<link rel="stylesheet" id="wp-color-picker-css" href="/assets/css/color-picker.min.css?ver=6.1.1" type="text/css" media="all">
<script src="/assets/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9" id="regenerator-runtime-js"></script>
<script src="/assets/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
<script id="thickbox-js-extra">

/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\/\/www.necaveconservancy.org\/assets\/js\/thickbox\/loadingAnimation.gif"};
/* ]]> */
</script> 
<script src="/assets/js/jquery/ui/core.min.js?ver=1.13.2" id="jquery-ui-core-js"></script>
<script src="/assets/js/jquery/ui/mouse.min.js?ver=1.13.2" id="jquery-ui-mouse-js"></script>
<script src="/assets/js/jquery/ui/sortable.min.js?ver=1.13.2" id="jquery-ui-sortable-js"></script>
<script src="/assets/js/jquery/ui/tabs.min.js?ver=1.13.2" id="jquery-ui-tabs-js"></script>
<script src="/assets/js/jquery/ui/accordion.min.js?ver=1.13.2" id="jquery-ui-accordion-js"></script>
<script src="/wp-content/themes/betheme/js/plugins.js?ver=16.5" id="jquery-plugins-js"></script>
<script src="/wp-content/themes/betheme/js/menu.js?ver=16.5" id="jquery-mfn-menu-js"></script>
<script src="/wp-content/themes/betheme/assets/animations/animations.min.js?ver=16.5" id="jquery-animations-js"></script>
<script src="/wp-content/themes/betheme/assets/jplayer/jplayer.min.js?ver=16.5" id="jquery-jplayer-js"></script>
<script src="/wp-content/themes/betheme/js/parallax/translate3d.js?ver=16.5" id="jquery-mfn-parallax-js"></script>
<script src="/wp-content/themes/betheme/js/scripts.js?ver=16.5" id="jquery-scripts-js"></script>
</body>
</html>
