<div class="section mcb-section equal-height" style=
"padding-top:40px; padding-bottom:10px; background-color:#D2C4B0">
<div class="section_wrapper mcb-section-inner">
    {% comment %}
    Iterate over all preserves in groups of 3.
    Each group is 3 is rendered into its own row.
    {% endcomment %}
    {% for preserve in site.preserves %}
        {% assign remainder = forloop.index0 | modulo: 3 %}
        {% if remainder == 0 %}
            <div class="wrap mcb-wrap one  valign-top clearfix" style="padding:20px">
                <div class="mcb-wrap-inner">
        {% endif %}

<div class="column mcb-column one-third column_column  column-margin-0px" style="height: 368.531px;"><div class="column_attr clearfix" style="padding:20px 10% 12px; border: 4px solid #9F835B;">
        <h5>{{ preserve.title }}</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
    {% if preserve.party %}
    <li>
    {% if preserve.party.minimum %}
      Minimum group size is {{ preserve.party.minimum }}
    {% endif %}
    {% if preserve.party.maximum %}
     ; maximum group size is {{ preserve.party.maximum }}
    {% endif %}
    .</li>
    {% endif %}

    {% for req in preserve.shortRequirements %}
    <li>
        {{ req | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
    {% endfor %}

    {% if preserve.special_use_groups_recommended %}
    <li>
        <a href="/cave_permit_specialuse" >Special Use groups</a> require a permit
    </li>
    {% else %}
    <li>
        Not recommended for <a href="/cave_permit_specialuse" >Special Use groups</a>
    </li>
    {% endif %}

    {% if preserve.permit_required %}
    <li>
        All others must <a href="mailto:{{ preserve.email }}">contact Preserve Manager</a> for permit
    </li>
    {% else %}
    <li>
        For others no permit is required
    </li>
    {% endif %}


    <li>
        <a href="mailto:{{ preserve.email }}">Contact Preserve Manager</a>
    </li>
</ul>

<div class="button_align align_center"><a class="button  button_size_1 button_js" href="{{ preserve.permalink }}"><span class="button_label">Learn More</span></a></div>
</div></div>

        {% comment %}
        Close the "wrap mcb-wrap one" and "mcb-wrap-inner" divs, used for each row
        {% endcomment %}
        {% if remainder == 2 %}
            </div></div>
        {% endif %}
    {% endfor %}
  </div>
</div>
