<div class="sidebar sidebar-1 four columns"><div class="widget-area clearfix " style="min-height: 1793.41px;">
<aside id="text-12" class="widget widget_text"><h3>More Information</h3>			<div class="textwidget">
<ul style="line-height: 32px;">
<li>
<i class="icon-layout"></i> <a href="/about-ncc/">About NCC</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/history/">History of the NCC</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/landowners/">Landowner Info</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/officers/">The NCC Board</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/committee-chairs/">Committee Chairs </a>
</li>
<li>
<i class="icon-layout"></i> <a href="/minutes/">Board Meeting Minutes</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/newsletters/">Newsletters</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/assets/documents/conflict_of_interest_policy.pdf" target="_blank" rel="noopener">Conflict of Interest Policy</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/assets/documents/legal_opinion_on_landowner_liability.pdf" target="_blank" rel="noopener">Legal Opinion on NY’s Landowner Liability</a>
</li>
</ul>
</div>
		</aside><aside id="text-13" class="widget widget_text"><h3>GET INVOLVED</h3>			<div class="textwidget">
<ul style="line-height: 32px;">
<li>
<i class="icon-layout"></i> <a href="/join/">Join the NCC</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/donate/">Donate</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/volunteer/">Volunteer</a>
</li>
<li>
<i class="icon-layout"></i> <a href="/volunteer-value/">Volunteer Value </a>
</li>
</ul>
</div>
		</aside>
</div></div>
