<div class="section mcb-section   " style="padding-top:20px; padding-bottom:0px; background-color:#9F835B"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one column_column  column-margin-10px"><div class="column_attr clearfix align_center"><h5>Committed to the conservation, study, management, and acquisition of caves and karst areas having significant geological, hydrological, biological, recreational, historical or aesthetic features.</h5></div></div>
<div class="column mcb-column one-fourth column_zoom_box ">
<div class="zoom_box">
<div class="desc" style="background-color:rgba(52, 23, 9, 0.8);"><div class="desc_wrap">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/ncc_logo_x1.png" alt=""></div>
<div class="desc_txt">86 Acres of Preserves</div>
</div></div>
</div>
</div>
<div class="column mcb-column one-fourth column_zoom_box ">
<div class="zoom_box">
<div class="photo"><img class="scale-with-grid" src="/assets/images/16-caves.jpg" alt=""></div>
<div class="desc" style="background-color:rgba(52, 23, 9, 0.8);"><div class="desc_wrap" style="padding-top: 52.078px;">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/ncc_logo_x1.png" alt=""></div>
<div class="desc_txt">{{ site.data.statistics.current_known_caves }} Known Caves</div>
</div></div>
</div>
</div>
<div class="column mcb-column one-fourth column_zoom_box ">
<div class="zoom_box">
<div class="photo"><img class="scale-with-grid" src="/assets/images/1979.jpg" alt=""></div>
<div class="desc" style="background-color:rgba(52, 23, 9, 0.8);"><div class="desc_wrap" style="padding-top: 37.078px;">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/ncc_logo_x1.png" alt=""></div>
<div class="desc_txt">First Cave Acquired in {{ site.data.statistics.first_acquisition_year }}</div>
</div></div>
</div>
</div>
<div class="column mcb-column one-fourth column_zoom_box ">
<div class="zoom_box">
<div class="photo"><img class="scale-with-grid" src="/assets/images/2016.jpg" alt=""></div>
<div class="desc" style="background-color:rgba(52, 23, 9, 0.8);"><div class="desc_wrap" style="padding-top: 22.078px;">
<div class="desc_img"><img class="scale-with-grid" src="/assets/images/icons/ncc_logo_x1.png" alt=""></div>
<div class="desc_txt">Latest Cave Acquired in {{ site.data.statistics.latest_acquisition_year }}</div>
</div></div>
</div>
</div>
</div></div></div></div>
