<div class="section mcb-section   " style="padding-top:30px; padding-bottom:0px; background-color:#D2C4B0"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap five-sixth  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  pricing-box-box"><div class="plan-header">
<h2>Regular Member</h2>
<div class="price">
<sup class="currency"></sup><span>$20</span><sup class="period">Yearly</sup>
</div>
<hr class="hr_color">
</div></div>
</div>
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  pricing-box-box">
<div class="plan-header">
<h2>Family Member</h2>
<div class="price">
<sup class="currency"></sup><span>$5</span><sup class="period">Yearly</sup>
</div>
<hr class="hr_color">
</div>
<div class="plan-inside">Non-voting, no periodicals and must reside with member.
</div>
</div>
</div>
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  pricing-box-box"><div class="plan-header">
<h2>Benefactor Member</h2>
<div class="price">
<sup class="currency"></sup><span>$50</span><sup class="period">Yearly</sup>
</div>
<hr class="hr_color">
</div></div>
</div>
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  pricing-box-box"><div class="plan-header">
<h2>Institutional Membership</h2>
<div class="price">
<sup class="currency"></sup><span>$100</span><sup class="period">Yearly</sup>
</div>
<hr class="hr_color">
</div></div>
</div>
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  cp-right pricing-box-box">
<div class="plan-header">
<h2>Life Membership</h2>
<div class="price">
<span>$400</span><sup class="currency"></sup><sup class="period">One-Time</sup>
</div>
<hr class="hr_color">
</div>
<div class="plan-inside">One Time Payment
</div>
</div>
</div>
<div class="column mcb-column one-second column_pricing_item ">
<div class="pricing-box  cp-right pricing-box-box">
<div class="plan-header">
<h2>Family Life Membership</h2>
<div class="price">
<span>$125</span><sup class="currency"></sup><sup class="period">One-Time</sup>
</div>
<hr class="hr_color">
</div>
<div class="plan-inside">One Time Payment. Must be significant other or minor child and reside with Life Member.</div>
</div>
</div>
<div class="column mcb-column one column_divider ">
<hr class="no_line">
</div>
</div></div></div></div>
