<div class="section mcb-section   " style="padding-top:20px; padding-bottom:10px; background-color:#F0EBE3"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix">
<h3>Autopay Membership Yearly</h3>
<br>

Pay your membership dues automatically every year.  To cancel at any time, log into your PayPal account. <br> &nbsp;<br>

Please select the yearly membership level from the drop-down menu, then hit the Subscribe button.<br>

<b>Important:</b> Please update your contact info below also.<br>

<br>

<!-- ANNUAL MEMBERSHIP FORM -->

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LK6KAQV3BLC58">

<input type="hidden" name="on0" value="Annual Membership Level">Membership Level<br>
<select name="os0">
	<option value="Regular">Regular : $20.00 USD - yearly</option>
	<option value="Regular + 1 Family">Regular + 1 Family : $25.00 USD - yearly</option>
	<option value="Regular + 2 Family">Regular + 2 Family : $30.00 USD - yearly</option>
	<option value="Regular + 3 Family">Regular + 3 Family : $35.00 USD - yearly</option>
	<option value="Benefactor">Benefactor : $50.00 USD - yearly</option>
	<option value="Institutional">Institutional : $100.00 USD - yearly</option>
</select>

<!-- Contact information -->

<input type="hidden" name="on1" value="Full Name">Full Name
<input type="text" name="os1" maxlength="200" required="required">
<input type="hidden" name="on2" value="Email address">E-mail address
<input type="text" name="os2" maxlength="200" required="required">
<input type="hidden" name="on3" value="Phone">Phone Number (optional)
<input type="text" name="os3" maxlength="200">

<!-- End form capture -->

<!-- Form submission -->
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" style="border: 0;">
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" l0awk5laz="" style="border: 0;">
</form>

<!-- join code ends here -->
</div></div>
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix">
<h3>Sign up / Renew Online</h3>

<p>Follow the steps below to join and/or renew membership fees:</p>

<ul>
<li>Click the "join now"" button below (you will be redirected to Paypal.</li>
<li>Enter your membership level and the appropriate amount for that membership.</li>
<li>Please consider adding to your donation to cover our processing cost.</li>
</ul>

<!-- JOIN RENEW FORM -->

<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="9J5XRJZUTGYLS">
<input type="image" src="/assets/images/icons/join_now-1.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" style="border: 0;">
<img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" l0awk5laz="" style="border: 0;">
</form>
<hr>

</div></div>
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix">
<div class="photo_box ">
<h4>Print &amp; Mail</h4>
<div class="image_frame"><div class="image_wrapper">
<div class="mask"></div>
<img class="scale-with-grid" src="/assets/images/common/mail.png" alt="">
</div></div>
<div class="desc">
<p><a href="/assets/documents/NCC-Join.pdf" target="_blank">Click Here</a> to download membership form.
</p>
<p><b>Make Checks Payable to</b><br>

Northeastern Cave Conservancy, Inc.<br>
P.O. Box 254<br>
Schoharie, N.Y. 12157</p>
</div>
</div>
</div></div>
</div></div></div></div>
