<div class="section mcb-section full-width  " style="padding-top:0px; padding-bottom:0px; background-color:#F0EBE3"><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:1%"><div class="mcb-wrap-inner">
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix" style="padding:2%;">
<h4>Join the NCC</h4>
<p>If you would like to join the NCC or renew your membership, please visit <a href="/join">Join the NCC</a> to select your desired membership type.</p>
</div></div>
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix" style="padding:2%;">
<h4>One-Time or Monthly Donation</h4>
<p>An on-line credit card contribution to the NCC's efforts can be made by clicking the following PayPal logo.</p>
<p>If your donation is intended for a specific purpose, please indicate that purpose via a note in the PayPal form.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="34WBN2NEWHT4N">
<input type="image" src="/assets/images/donate_page/paypal_donate.png" style="text-align: center;" width="300" alt="Donate">
<img alt="" style="border: 0;" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" f7tg3s00c="">
</form>

<hr class="no_line" style="margin: 0 auto 10px;">
</div></div>
<div class="column mcb-column one-second column_column  column-margin-10px"><div class="column_attr clearfix" style="padding:2%;">
<h4>Check</h4>
<p>While the NCC wants to make it as easy for you to donate as possible with a variety of payment options, please consider sending a check as there are no processing fees.</p>

<p><b>Send Checks Payable to:</b></p>
<p>The Northeastern Cave Conservancy, Inc.<br>
P.O. Box 254<br>
Schoharie, N.Y. 12157</p>
</div></div>
<div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix" style="padding:2%;">
<h2>Planned Giving</h2>
<div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>
<hr class="no_line" style="margin: 0 auto 10px;">


<p>Thank you for considering a planned gift to the Northeastern Cave Conservancy, Inc. The NCC can accept donations in various forms such as land, or through various mechanisms such as wills and trusts.</p>

<p>A bequest translates your commitment to conservation into a lasting legacy. A simple provision in your will, such as the following, will enable you to provide for the NCC in your estate plans:</p>

<p></p>
<div class="blockquote"><blockquote>"I give $_____ [a specific amount, or alternatively, "_____percent of the residuary of my estate'] to the Northeastern Cave Conservancy, Inc., a nonprofit corporation incorporated in the Commonwealth of New York and having its principal offices at P.O. Box 254, Schoharie, NY 12157, for its general purposes."</blockquote></div>
<br>

<p>The Northeastern Cave Conservancy's tax ID # is 13-4043653.  Be sure to consult with your attorney on the language and tax effect of any charitable bequest. Tax implications for your state of residence may be found <a href="https://web.archive.org/web/20220901033110/http://www.landtrustalliance.org/issues-action/take-action/tax-incentives" target="_blank">here</a>.</p>

<p>For more information on making a planned gift, please contact the Northeastern Cave Conservancy via e-mail at <a href="mailto:treasurer@necaveconservancy.org">treasurer@necaveconservancy.org</a></p>

<p><a href="/assets/documents/ncc_planned_giving_brochure.pdf">Download Planned Giving brochure for printing</a></p>
</div></div>
</div></div></div></div>
