<div class="section mcb-section equal-height  " style="padding-top:30px; padding-bottom:30px; background-color:#D2C4B0"><div class="section_wrapper mcb-section-inner">
<div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-10px" style="height: 186px;"><div class="column_attr clearfix">
<h2>CAVES OWNED BY THE NATIONAL SPELEOLOGICAL SOCIETY (NSS)</h2>
<p></p>
<div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>

<p>Note: These caves are owned by the National Speleological Society (NSS), which is a separate organization from the NCC.  The links contained here are for informational purposes only; please refer to the NSS preserve pages for details and access requirements on these caves.</p>



</div></div></div></div>
<div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_column  column-margin-10px" style="height: 169px;"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Schoharie Caverns</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<p><a href="https://caves.org/preserves/schoh/schohari.shtml">Click here</a> for information about Schoharie Caverns</p>


</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px" style="height: 169px;"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>McFails, Hanors/Disappointment</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<p><a href="https://caves.org/preserves/mcp/mcfails.shtml">Click here</a> for information about McFails Preserve</p>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px" style="height: 169px;"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Gage, Greens &amp; Keyhole</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<p><a href="https://caves.org/preserves/jgage/jgage.shtml">Click here</a> for information about the Gage Preserve</p>
</div></div>
</div></div>
</div></div>
