<div class="section mcb-section equal-height  " style="padding-top:30px; padding-bottom:20px; background-color:#D2C4B0"><div class="section_wrapper mcb-section-inner">
<div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0EBE3;">
<h2>CAVES OWNED BY THE NATIONAL SPELEOLOGICAL SOCIETY (NSS)</h2>
<p></p>
<div style="width: 20%; height: 3px; background: #F0EBE3; display: inline-block;"></div>

<p>Note: No cave for pay is allowed in NSS owned caves. Cave for pay means those groups where a leader receives payment for activities related solely to the cave trip. This may include but is not limited to, rental of cave equipment, transportation to the cave, and guide services. If you have questions, please contact a manager.</p>

<h5>General NSS Checklist (for all NSS caves):</h5>
<ul>
<li>Contact the group use coordinators to make a reservation at <a href="mailto:specialuse@necaveconservancy.org">specialuse@necaveconservancy.org</a>
</li>

<li>Contact the group use coordinators to make a reservation at <a href="mailto:specialuse@necaveconservancy.org">specialuse@necaveconservancy.org</a>
</li>
<li> A certificate of additionally insured naming the National Speleological Society Inc as additionally insured should be emailed as a PDF to 
 <a href="mailto:specialuse@necaveconservancy.org">specialuse@necaveconservancy.org</a> or mailed care of the Northeastern Cave Conservancy, Inc., PO Box 254, Schoharie NY 12157 </li>

<li>Provide a Notification of Risk for the entire party. If the group intends to visit more than one NSS preserve, there should be one form provided for each preserve. The signature must be original and the form should be mailed by US Postal Service to the NCC. </li>
<li>No more than 15 people total, including leaders, in a group. (Total of 14 for scout groups including at least 2 leaders)</li>
<li>Scout groups must follow the National Scout rules for caving and complete the BSA NCC-NSS form.
For BSA rules click <a href="/assets/documents/BSA-NCC-NSS-form-2018-fillable.pdf">here</a>. </li>
<li>For all caves only four (4) special use slots are available per cave per day. In July and August we permit groups to reserve only 2 slots per day for any given cave. </li>
<li>Once paperwork is complete, the group use coordinator will provide the group with a window permit to be displayed in the car window while parked at the cave.</li>
</ul>




</div></div></div></div>
<div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Schoharie Caverns</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<ul>
<li>No other paperwork needs to be completed to visit this cave.</li>
<li>Minimum of 4 in party</li>
<li>Camping on this property is strongly discouraged. Any camping would require a special permit. The property can not be reserved for a single group and facilities are limited. Adult activities, such as smoking and alcohol consumption may occur on this property.</li>
</ul>


</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>McFails, Hanors/Disappointment</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<ul>
<li>Not recommended for special group use.</li>
<li>Surface visits require no further paperwork.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Gage, Greens &amp; Keyhole</h5>
<hr class=" hr_color" style="margin: 0 auto 10px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>Read information sheet.</li>
<li>Belay equipment and ability to use it.</li>
<li>Camping on this property is not allowed.</li>
<li>For Keyhole Cave, there is a leadership requirement.</li>
</ul>
</div></div>
</div></div>
</div></div>
