<div class="section mcb-section equal-height  " style="padding-top:30px; padding-bottom:20px; background-color:#F0EBE3"><div class="section_wrapper mcb-section-inner">
<div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0; background-color:#F0EBE3"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0EBE3;">
<h2>CAVES OWNED BY THE NORTHEASTERN CAVE CONSERVANCY (NCC)</h2>
<p></p>
<div style="width: 20%; height: 3px; background: ##F0EBE3; display: inline-block;"></div>


<h5>General NCC Checklist (for all NCC caves):</h5>
<ul>
<li>Contact the group use coordinators to make a reservation at <a href="mailto:specialuse@necaveconservancy.org">specialuse@necaveconservancy.org</a>
</li>
<li>A certificate of additionally insured naming the Northeastern Cave Conservancy Inc as additionally  insured should be emailed as a PDF to <a href="mailto:specialuse@necaveconservancy.org">specialuse@necaveconservancy.org</a> or mailed to Northeastern Cave Conservancy, Inc., PO Box 254, Schoharie NY 12157.
</li>
<li>Note: All certificates of additionally insured naming the NCC inc must verify a minimum of $1,000,000 per occurrence liability coverage.</li>
<li>Provide a Notification of Risk for the entire party. If the group intends to visit more than one NCC preserve, there should be one form provided for each preserve. The signature must be original and the form should be mailed by US Postal Service to the NCC.</li>
<li>No more than 15 people total, including leaders, in a group. (Total of 14 for scout groups including at least 2 leaders)</li>
<li>Scout groups must follow the National Scout rules for caving and complete the BSA NCC-NSS form.
For BSA rules click <a href="/assets/documents/BSA-NCC-NSS-form-2018-fillable.pdf">here</a>.</li>
<li>For all caves only four (4) special use slots are available per cave per day. In July and August we
permit groups to reserve only 2 slots per day for any given cave.</li>
<li>Once paperwork is complete, the group use coordinator will provide the group with a window permit
to be displayed in the car window while parked at the cave.</li>
<li>Camping is not allowed on any NCC property.</li>
<li>Please note that there are no bathroom facilities at NCC preserves. Please plan ahead. The NCC
supports the principles of Leave No Trace.</li>
</ul>
</div></div></div></div>
<div class="wrap mcb-wrap one  column-margin-10px valign-middle clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Knox Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>Read Information Sheet</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Clarksville Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>No fires please.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Bentleys Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>Read Information Sheet.</li>
</ul>
</div></div>
</div></div>
<div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Onesquethaw Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>Read Information Sheet.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Bensons Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Minimum of 4 in party.</li>
<li>Read Information Sheet.</li>
<li>Each party member must be proficient in vertical caving techniques and have their own set of gear.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Ella Armstrong</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Ella Armstrong is a vertical cave and thus not recommended for most special use groups. Groups that are vertically competant may enter the cave.</li>
</ul>
</div></div>
</div></div>
<div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner">
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Sellecks, Levys, Cave 575</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Not recommended for special use groups.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Merlins Cave</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Not recommended for special use groups.</li>
</ul>
</div></div>
<div class="column mcb-column one-third column_column  column-margin-10px"><div class="column_attr clearfix" style="background-color:/#F0F0F0; padding:20px;">
<h5>Crossbones Cave
</h5>
<hr class=" hr_color" style="margin: 0 auto 20px;">

<ul>
<li>Not recommended for special use groups.</li>
</ul>
</div></div>
</div></div>
</div></div>
