<div class="section mcb-section   " style="padding-top:50px; padding-bottom:0px; background-color:#F0EBE3">
<div class="section-divider triple-triangle up"></div>
<div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  valign-top clearfix"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-20px"><div class="column_attr clearfix">
<h2>WHAT IS THE NORTHEASTERN CAVE CONSERVANCY?</h2>
<p></p>
<div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>

<p class="big">The Northeastern Cave Conservancy, Inc. (NCC) is a not-for-profit corporation committed to the conservation, study, management, and acquisition of caves and karst areas having significant geological, hydrological, biological, recreational, historical, or aesthetic features.</p>

<p class="big">To these ends, the NCC combines the resources and expertise of affiliated cave explorers, educators, scientists, landowners, and conservation officials.</p>

<p class="big">The NCC programs are focused mainly on the preservation of caves and karst. Outreach includes education in schools and local communities, establishment of park spaces on karstlands, and educational messages about the significance of groundwater pollution on this sensitive underground ecosystem.</p>
</div></div></div></div></div>
</div>
