<div class="section mcb-section   " style="padding-top:40px; padding-bottom:20px; background-color:#D2C4B0"><div class="section_wrapper mcb-section-inner">
<div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h2>WHAT IS KARST?</h2>
<p></p>
<div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>

<p>Karst is a type of landform caused by the dissolving of the underlying bedrock. Rock that can dissolve includes limestone and marble. The rocks are dissolved by water charged with carbon dioxide. This creates carbonic acid, a weak acid similar to that found in soda. The mineral in the limestone that gets dissolved is called calcite. Another mineral that can dissolve is called dolomite. It is found in a rock called dolostone.</p>

<p>Limestone and dolostone are called sedimentary rocks, because they were laid down as sediments. Marble is made by putting limestone or dolostone under great heat and pressure. These factors cause the rocks to change or metamorphose into a different kind of rock. Such a rock is called a metamorphic rock.</p>

<p>Features common to karst include caves, springs, sinkholes, disappearing streams, and enlarged bedrock joints. Streams in karst areas consist of short segments or don't exist at all. In some karst areas there can be hundreds or thousands of acres with no surface streams.</p>
</div></div></div></div>
<div class="wrap mcb-wrap one-second  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h5>CAVE AND KARST CONSERVATION</h5>
<p>In karst landscapes, water moves underground very quickly. The soil in such areas is often thin or nonexistent. As a result contaminants move to the water table rapidly in karst, and because caves are like natural pipes, pollution may then move many miles without any change. Thus, a spill may contaminate a spring several miles away.</p>

<p>Despite such water movement, caves are nature preserves. Features or materials that have been obliterated on the surface remain underground. Thus, we can find very old deposits that can tell us what the surface was like thousands of years ago. It is not uncommon to find sediments and bones many thousands of years old. Many caves in the northeast host bats and other cave visiting life. On a human scale caves themselves are nonrenewable, and are frequently very fragile or easily impacted.</p>
</div></div></div></div>
<div class="wrap mcb-wrap one-second  valign-top clearfix"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h5>CAVES IN AREAS WITHOUT KARST</h5>
<p>Given the right conditions, caves can form in just about anything; ice, dirt, or rock. Volcanic activity can create ³lava tube² caves, although none exist in the northeast.</p>

<p>Talus caves are created by the random piling up of boulders and can be formed from almost any kind of rock. Such caves have been noted in sandstone, anorthosite, granite, gneiss, and even limestone.</p>

<p>The other major class of non-solutional caves are tectonic. There are a couple types. The most common are gravity-slip-block caves. Another type of tectonic cave are fissure or rift caves. Here, some force other than gravity such as faulting has move the rock apart to form a cave.</p>

<p>Sea caves, formed by waves eroding bedrock, can be found in any type of rock. There are many sea caves found along the Maine coast.</p>
</div></div></div></div>
<div class="wrap mcb-wrap divider  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner"></div></div>
<div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix" style="padding:0 3% 0 0"><div class="mcb-wrap-inner"><div class="column mcb-column one column_column  column-margin-"><div class="column_attr clearfix">
<h5>KARST IN THE NORTHEAST</h5>
<p>In the northeast United States, there are several different types of karst areas. The Adirondacks and New England including that part of New York east of the Hudson River contains metamorphic rocks and most caves there are found in marble. The remainder of New York has mostly sedimentary rocks and most caves in that area are found in limestone and dolostone.</p>

<p>Most of the longest caves in New York and New England are found in Albany and Schoharie Counties and in Jefferson County near Watertown, NY. All of these are formed in limestone. The three longest caves in the northeast are found in Schoharie and Albany Counties. The longest is over 6 miles long.</p>

<p>There are a few long marble caves found in the Adirondacks and in western New England.</p>

<p>However, in these areas, the marbles tend to occur in valleys in isolated pockets or outcrops. The only significant exposures of soluble rock in eastern New England is found in northern Maine. Some caves are known, but the area has not been well explored.</p>
</div></div></div></div>
</div></div>
