{% include header.html %}
<div id="Content">
  <div class="content_wrapper clearfix">
    <!-- .sections_group -->
    <div class="sections_group">
      <div class="entry-content" itemprop="mainContentOfPage">
        <div class="section mcb-section" style="padding-top:50px; padding-bottom:10px; background-color:#F0EBE3">
          <div class="section-divider triple-triangle up"></div>
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr clearfix">
                      <h2>{{ page.title }}</h2>
                    <div style="width: 20%; height: 3px; background: #47360D; display: inline-block;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mcb-section" style="padding-top:10px; padding-bottom:0px; background-color:#F0EBE3">
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr clearfix">
                    {% for paragraph in page.topParagraphs %}
                      <p>{{ paragraph | liquid | markdownify }}</p>
                    {% endfor %}
                  </div>
                </div>

                {% if page.imagePaths %}
                    {% for imagePath in page.imagePaths %}
                <div class="column mcb-column one-third column_image">
                  <div class="image_frame image_item scale-with-grid no_border">
                    <div class="image_wrapper">
                        <a href="{{ imagePath }}" rel="prettyphoto">
                            <div class="mask"></div><img class="scale-with-grid" src="{{ imagePath }}" alt=""></a>
                      <div class="image_links">
                          <a href="{{ imagePath }}" class="zoom" rel="prettyphoto"></a>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}

                {% endif %}

                <div class="column mcb-column one column_column column-margin-20px">
                  <div class="column_attr clearfix">
                    {% for paragraph in page.bottomParagraphs %}
                      <p>{{ paragraph | markdownify }}</p>
                    {% endfor %}
                    {% for paragraph in site.data.common_preserve_requirements.paragraphs %}
                    <p>{{ paragraph[1] | markdownify }}</p>
                    {% endfor %}
                    <ul>
                      {% if page.party %}
                        <li>
                        {% if page.party.minimum %}
                          Minimum group size is {{ page.party.minimum }}
                      {% endif %}
                        {% if page.party.maximum %}
                          ; maximum group size is {{ page.party.maximum }}
                      {% endif %}

                        .</li>
                      {% endif %}
                      {% for req in page.longRequirements %}
                        <li>{{ req | markdownify }}</li>
                      {% endfor %}
                      {% for req in site.data.common_preserve_requirements.long_requirements %}
                        <li>{{ req[1] | markdownify }}</li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mcb-section" style="padding-top:30px; padding-bottom:0px; background-color:#D2C4B0">
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
              <div class="mcb-wrap-inner">

                {% comment %}
                Dynamically figure out the width to render the elements
                "Resources", "Management Plan", and "Maps"
                {% endcomment %}

                {% assign column_width = "one" %}
                {% if page.managementPlanPath and page.mapPath %}
                    {% assign column_width = "one-third" %}
                {% elsif page.managementPlanPath or page.mapPath %}
                    {% assign column_width = "one-second" %}
                {% endif %}

                <div class="column mcb-column {{ column_width }} column_icon_box">
                  {% if column_width == "one" %}
                    {% assign resources_border = "no_border" %}
                  {% else %}
                    {% assign resources_border = "has_border" %}
                  {% endif %}
                  <div class="icon_box icon_position_left {{ resources_border }}">
                    <a class="" href="/links/">
                    <div class="icon_wrapper">
                      <div class="icon">
                          <i class="icon-doc-text"></i>
                      </div>
                    </div>
                    <div class="desc_wrapper">
                      <h4 class="title">Resources</h4>
                      <div class="desc">
                        Please see the resources page for additional information on the permits and procedures for visiting this cave.
                      </div>
                    </div></a>
                  </div>
                </div>
                {% if page.managementPlanPath %}
                  {% if column_width == "one-second" %}
                    {% assign management_plan_border = "no_border" %}
                  {% else %}
                    {% assign management_plan_border = "has_border" %}
                  {% endif %}
<div class="column mcb-column {{ column_width }} column_icon_box">
    <div class="icon_box icon_position_left {{ management_plan_border }}">
                    <a class="" href="{{ page.managementPlanPath }}" target="_blank">
                    <div class="icon_wrapper">
                      <div class="icon">
                          <i class="icon-down-bold"></i>
                      </div>
                    </div>
                    <div class="desc_wrapper">
                      <h4 class="title">Management Plan</h4>
                      <div class="desc">
                        Click Here to download the management plan for {{ page.title }}.
                      </div>
                    </div></a>
                  </div>
                </div>
                {% endif %}
                {% if page.mapPath %}
                  <div class="column mcb-column {{ column_width }} column_icon_box">
                      <div class="icon_box icon_position_left no_border">
                    <a class="" href="{{ page.mapPath }}" target="_blank">
                    <div class="icon_wrapper">
                      <div class="icon">
                          <i class="icon-direction"></i>
                      </div>
                    </div>
                    <div class="desc_wrapper">
                    <h4 class="title">Maps</h4>
                    <div class="desc">
                      Click Here to download maps for {{ page.title }}.
                    </div>
                    </div></a>
                      </div>
                    </div>
                    {% endif %}
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr clearfix">
                    {% if page.winterClosure %}
                        {% if page.winterClosureText%}
                            <h4>{{ page.winterClosureText | markdownify }}</h4>
                        {% else %}
                            <h4>All caves on the preserve are closed October 1st through April 30th to protect hibernating bats. Contact the managers (below) for additional information.</h4>
                        {% endif %}
                    {% endif %}
                    <hr class="no_line" style="margin: 0 auto 10px;">
                    <p class="big">If you have questions about this preserve, please contact the preserve managers at <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section the_content no_content"></div>
        <div class="section section-page-footer">
          <div class="section_wrapper clearfix">
            <div class="column one page-pager"></div>
          </div>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
</div>
{% include footer.html %}
